/* Contents */

/*
    1. Global Styles
        1.1 Import fonts
        1.2 Colours
        1.3 html
        1.4 *
        1.5 body
    2. General
        2.1 Header font
    3. Buttons
        3.1 Bootstrap buttons
        3.2 Options buttons
    4. Navbar
        4.1 Main Nav
        4.2 Navbar blood drops
    5. Footer
    6. Main content


    ?. Media Queries
*/


/* 1. Global Styles */
/* 1.1 Import Fonts */
@import url('https://fonts.googleapis.com/css2?family=Arvo&family=Creepster&display=swap');


/* 1.2 Colours */
:root {
    --white: #F3F3F3;
    --orange: #E4852A;
    --red: #970D2D;
    --purple: #3F0071; 
    --black: #000000;
}


/* 1.3 html */
html {
    font-size: 62.5%;
}


/* 1.4 * */
* {
    margin: 0;
    padding: 0;
    border: 0;
    box-sizing: border-box;
}


/* 1.5 body */
body {
    font-size: 1.6rem;
    height: 100vh;
    font-family: 'Arvo', serif;
    font-weight: 400;
    background-color: var(--white);
}


/* 2. General */
/* 2.1 Header font */

.header-font {
    font-family: 'Creepster', cursive;
    letter-spacing: 8px;
}

/* 2.2 Display flex */
.display-flex {
    display: flex;
}

/* 2.3 Text-center */
.txt-cntr {
    text-align: center;
}


/* 3. Buttons */
/* 3.1 Bootstrap buttons */

.btn:focus {
    box-shadow: none;
}

/* 3.2 Option buttons */
.opt-btns {
    height: 20%;
}

/* 4. Navbar */
/* 4.1 Main Nav */
.nav-bar {
    background-color: var(--purple);
    height: 6.5rem;
    padding: 1rem 3rem;
    border-bottom: 2px solid var(--orange);
}

.nav-bar-header {
    color: var(--white);
    font-size: 2.5rem;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    text-shadow: 0px 6px 6px var(--red)
}


/* 5. Footer */

.footer-container {
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 12rem;
    background-color: var(--purple);
    border-top: 2px solid var(--orange);
}

.social-links-hint {
    color: var(--white);
    font-size: 2rem;
}

.links-outer-container {
    width: 90%;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: space-around;
}

.links-container {
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
    width: 90%;
}

.social-link {
    justify-content: center;
    align-items: center;
    font-size: 2rem;
    padding: 0.5rem;
    border: 1px solid var(--black);
    border-radius: 50%;
    height: 4rem;
    width: 4rem;
}

.social-link:active {
    box-shadow: 0px 0px 12px 5px var(--white);
}

.social-1 {
    color: var(--black);
    background-color: var(--orange);
}

.social-2 {
    color: var(--red);
    background-color: var(--white);
}

.social-3 {
    color: var(--white);
    background-color: var(--red);
}

.social-4 {
    color: var(--orange);
    background-color: var(--black);
}

.social-1:hover {
    color: var(--orange);
    background-color: var(--black);
}

.social-2:hover {
    color: var(--white);
    background-color: var(--red);
}

.social-3:hover {
    color: var(--red);
    background-color: var(--white);
}

.social-4:hover {
    color: var(--black);
    background-color: var(--orange);
}


/* 6. Main Content*/
.background-img {
    height: inherit;
    width: inherit
}

#paragraph {
    height: 80%;
}


/* ?. Media Queries */

/*  ?. >=992px (Desktop) */

@media (min-width: 992px) {
    .links-outer-container {
        width: 40%;
}

    .footer-container {
        flex-direction: row-reverse;
        height: 10rem;
    }

    .nav-bar-header {
        font-size: 4rem;
    }

    .nav-bar {
        height: 7.5rem;
    }

    .blood-drop8 {
        left: 17rem;
    }

    .blood-drop5 {
        left: 21rem;
    }

}

